*{
    margin: 0;
}
header{
    height: 60px;
    padding: 10px;
    /* background-color: beige ; */
    margin-bottom: 20px;
}
nav{
    list-style: none;
}
nav ul li{
    /* 수평 배치 */
    width: 100px;
    height: 30px;
    display: inline-block;
    margin: 10px 20px;
    border-top: 3px solid #0000ff ;
    padding: 10px;
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    color: #0000ff;
}
nav ul li:hover{
    background-color: #0000ff34;
    transform: scale(1.1);
}
section{
    background-color: #ccc;
    height: 500px;
}