*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
#wrap{
    width: 250px;
    height: 300px;
    border: 1px solid coral;
    margin: 2px ;
    padding: 20px 40px;
    background-image: url(./images/notice.jpg);
    background-size: cover;
}
ul li{
    list-style: none;
    margin: 20px 10px;
}