#container{
    width: 650px;
    margin: 0 auto;
    padding: 5;
}
#check{
    width: 640px;
    border: 1px dotted #ccc;
    text-align: center;
}
h1{
    background-color: black;
    color: white;
    font-size: 1em; /* 글자크기 16px */
    padding: 10px;
    margin: 0;
    text-align: left;
}
h2{
    text-align: center;
    color: #f00;
    font-size: 1.5em;
}
p{
    line-height: 2;
    font-weight: bold;
    font-size: 1.1em;
}
.accent{
    color: #0000ff;
}
.smalltext{
    font-size: 0.7em;
}