nav{
    width: 300px;
    /* 메뉴의 크기 설정 */
}
ul{
    list-style: none;
    /* 불릿 제거 */
}
ul li{
    border: 1px solid #222;
    margin: 20px;
    padding: 20px 40px;
    /* display: inline-block : 생략  */
}
ul li a{
    text-decoration: none;
    color: #222;
}
ul li a:hover{
    color: #0000ff;
}