*{
    margin: 0; padding: 0;
}
#container{
    width: 1000px;
    margin: 0 auto;
}
/* header 스타일 */
header{
    height: 80px;
    background-color: rgb(179, 228, 228);
    margin-bottom: 20px;
}
/* logo 스타일 */
#logo{
    width: 250px;
    float: left;
    padding-left: 30px;
    line-height: 80px;
    /* height와 같은 크기이면 수직 가운데 정렬됨 */
}
#logo a{
    text-decoration: none;
    color: white;
}
#logo a:hover{
    color: yellowgreen;
}
/* nav 스타일 */
nav{
    height: 80px;
    float: right;
}
nav ul{
    list-style: none;
    text-align: right;
    margin-right: 50px;
}
nav ul li{
    display: inline-block;
    margin: 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: yellowgreen;
}
section{
    width:900px;
    margin: 0 auto;	
}
h2{
    font-size:1.5em;
}
h3 {
    font-size:1.0em;
    margin-bottom: 10px;
    font-weight: bold;
}
p {
    line-height:2;
    font-size:14px;
}
article{
    width: 400px;
    height: 300px;
    border: 1px dotted #ccc;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    float: left;
}
article.at1{
    background: url(../images/1.png) no-repeat right bottom;
}
article.at4{
    background: url(../images/2.png) no-repeat right bottom;
}
article.at1:hover{
    background-color: rgb(196, 196, 172);
    transition: 1s;
}
article.at2:hover{
    background-color: rgb(196, 196, 172);
    transition: 1s;
}
article.at3:hover{
    background-color: rgb(196, 196, 172);
    transition: 1s;
}
article.at4:hover{
    background-color: rgb(196, 196, 172);
    transition: 1s;
}

/* 강아지 종류 페이지 */
article.type{
    width: 28%; 
    height: 600px; 
    float: left;
}
article.type h3{
    background: url('../images/bg-note.png') no-repeat;
    padding-left: 30px;
    margin: 10px 0;
}
article.type dl dt{
    line-height: 1.7;
}
article.type dl dd{
    font-weight: bold;
    margin: 5px 0;
}
footer {
    clear: left;
    width:100%;
    height:100px;
    background-color:rgb(64, 70, 54);
}
footer > p {
    color:#fff;
    font-size:0.9em;
    padding: 10px 50px;
}