 table, td, th{
            border: 1px solid #ccc;
            padding: 10px;
            border-collapse: collapse;
            text-align : center ;
        }
        thead{
            background-color: rgb(216,241,291);
        }
        caption{
            margin: 10px;
        }